@model MyWebApplication.Areas.Security.Models.UserModelView

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <dl class="detailes-dl-horizontal">
        

         @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="content-action; " style="text-align:center;">
                    <h3>Delete this record?</h3>

                    <a href="@Url.Action("Index")" class="btn delete-btn-primary">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </a>
                    <button type="submit" value="Delete" class="btn delete-btn-danger">
                        <span class=" glyphicon glyphicon-trash"></span> Delete
                    </button>

                </div>
            }
      
        <div>

            <dt>
                @Html.DisplayNameFor(model => model.Firstname)
            </dt>

            <dd class="name1">
                @Html.DisplayFor(model => model.Firstname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lastname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lastname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>
        </div>

</dl>

  

