@model IEnumerable<MyWebApplication.Areas.Security.Models.UserModelView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-">
        <span class="glyphicon glyphicon-plus"></span>Create New
    </a>

</p>


<table class="table">
    <tr>
        <th>
            
        </th>

        <th>
        @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
         @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
         @Html.DisplayNameFor(model => model.Age)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.EmploymentDate)
        </th>
        
        <th>
            Action
        </th>
       
       
    </tr>
    
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @if (user.Education != null && user.Education.Count() > 0)
                {
                    <a class="text-primary" role="button" data-toggle="collapse"
                       href="#chk_@user.Guid"
                       aria-expanded="false"
                       aria-controls="collapseExample">
                        <span class="glyphicon glyphicon-asterisk"></span>
                    </a>
                }
                    else
                {
                    <span class="glyphicon glyphicon-asterisk"></span>    
                }
                
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => user.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.EmploymentDate)
            </td>

            <td>
                <a href="@Url.Action("Edit", new { id=user.Id })" class="text-info">
                    <span class="glyphicon glyphicon-edit"></span>Edit
                </a>&nbsp|&nbsp
                <a href="@Url.Action("Details", new { id=user.Id })" class="text-info">
                    <span class="glyphicon glyphicon-user"></span>Details
                </a>&nbsp|&nbsp
                <a href="@Url.Action("Delete", new { id=user.Id })" class="text-danger">
                    <span class="glyphicon glyphicon-trash"></span>Delete
                </a>
            </td>

        </tr>
        if (user.Education != null && user.Education.Count() > 0)
        {
            <tr class="collapse" id="chk_@user.Guid">
                <td colspan="7">
                    <h5 style="margin-left:100px">Educations</h5>
                    <table class="table table-condensed table-hover">
                        @foreach (var education in user.Education)
                        {
                            <tr class="row">
                                <td class="col-md-2"></td>
                                @*<td class="col-md-3">
                                    @Html.DisplayFor(modelItem => education.Level)
                                </td>*@
                                <td class="col-md-3">
                                    @Html.DisplayFor(modelItem => education.School)
                                </td>
                                <td class="col-md-3">
                                    @Html.DisplayFor(modelItem => education.YearAttended)
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }

    }
  
</table>
